/* ---------------- images CSS ------------------- */ 

img {
    margin-left: 500px; 
    border-radius: 10%;
}

#giphy{
    margin-left: 400px; 
    border-radius: 10%;
    margin-top: 50px; 
    height: 200px; 
}

#NBA{
    height: 200px; 
    margin-left: 50px; 
}

#crystal{
    margin-left: 50px; 
    border-radius: 10%;
    margin-top: 50px; 
    height: 200px; 
}

#psychic{
    margin-top: 50px; 
    margin-right: 10px; 
}

#trivia{
    margin-left: 50px; 
    height: 200px; 
    margin-top: 50px; 
}


#heroes{
    height: 200px; 
    margin-left: 70px; 
    margin-top: 50px; 
}

/* -------------- everything else CSS ------------------ */ 

p{
    text-indent: 50px;
    text-align: justify;
    margin: 50px; 
}

#contact{
    margin-left: 500px; 
    font-size: 50px
}

#head{
    margin-left: 450px; 
    font-size: 50px
}

#portfolio{
    margin-left: 550px; 
    font-size: 50px
}

h5{
    margin-left: 40px; 
    
}

.under{
    margin-right: 50px; 
}

.column{
    margin-left: -100px; 
}

/* -------------- E-MAIL FORM --------------------- */ 
.sent{
    margin-left: 500px; 
    margin-top: 50px; 
}

#textbox{
    height:200px;
    width: 500px; 
}