#port{
    margin-top: 60px;
    margin-left: 20px;
}

#cont{
    margin-left: 20px;
}

#directory{
    margin-left: 45px;
}

.jumbotron {
    background-color: black;
}

#name{
    color: white;
}

#desc{
    color: white;
}

#nikko{
   height: 150px;
   width: 140px;
}

#bio{
    margin-left: 100px;
    font-size: 12px;
}