html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

#logo{
  height: 230px;
  top: 10%;
  right: 200px;
}

#card-body{
  size: 10px;
}

nav{
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home{
 margin-right: 10px;
}

#contact{
  margin-left: 10px;
}

a{
  font-family: 'Alfa Slab One', cursive;
  font-size: 1å0px;
  color: black;

}

body{
  background-repeat: no-repeat;
  background-size: 120%; 
}

#profile{
  height: 300px;
  border-radius: 50%;
}

.card-header {
  background-color: lightgray;
}

img{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
}