.nav {
    width: 350px;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
    background-color: gray;
}

a:hover {
    color: black;
}

a {
    color: white;
}

h2 {
    font-family: 'Mukta', sans-serif;
    font-size: 130px;
    text-shadow: 2px 2px white;
}

h3{
    font-size: 80px;
}

p{
    width: 390px;
    padding: 10px;
    border: 2px solid transparent;
    margin: 0;
    color: white;
    font-size: 20px;
}

b{
    color: white ;
    background-color: gray;
}